<div class="text-light" id="navbardiv">

    <button type="button" class="pad btn btn-light">Search</button>
    <p></p><br>
    <button type="button" class="pad btn btn-light">Settings</button>
    <p></p><br>
    <button type="button" class="pad btn btn-light">Log Out</button>
       
   
    
    </div>    

    <div class="text-light" id="navbardivtop">
<div id="logo"></div>
        
<div id="userplaceholder">
Hello User
</div>   

<div id="navsearch">

    <form class="form-inline-block">
     
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
       
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>

    </div>
    </div>    