body{
  background-attachment: fixed;
    background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e9b85669-4546-40b0-8a43-7bc3f1b666dd/dbev91b-c832b73c-cdcd-4e09-81e6-f4415877b2f4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U5Yjg1NjY5LTQ1NDYtNDBiMC04YTQzLTdiYzNmMWI2NjZkZFwvZGJldjkxYi1jODMyYjczYy1jZGNkLTRlMDktODFlNi1mNDQxNTg3N2IyZjQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DbVTrVy2ZqcId2BGcMYuaBK5us6ohNsPLxec5PUnW3M');
    background-size: 180px 190px;
    background-position: 50% 50%;
    background-color: rgb(36, 34, 34);
    overflow: hidden;
  }