
<div id="landing">

    <form>  
<div id="loginleft">
    <h1 style="margin: 16px" class="login text-white">Moster Party</h1>

    <h2 class="homebanner"><b><i>Meet other anime and comic-book fanatics!</i></b>
    </h2>
<div (click)="myFunction()" id="logo"></div>


</div>
<div id="loginright">
    
    
 
            <p></p><br>
            <div class="button_container">
                <p class="description">ENTER</p>
                <button (click)="onLandingButtonClick()" class="btn"><span>Hover me!</span></button>
             
            </div>
              
              
    
    </div>

</form>


</div>
