
#logoutdiv{
    background-blend-mode: normal;
    background-image: url(https://i.pinimg.com/originals/7f/5f/5b/7f5f5b9d87a4d833016fbe03c2dca305.jpg);
    background-image: radial-gradient();
    background-size: auto;
    background-color: rgba(0, 255, 255, 0.171);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    width: 90%;
    padding: 100px 50px ;
    border: 3px rgb(255, 25, 0);
    text-align: center;
}

#logoutinner{
    background-color: rgba(29, 19, 41, 0.753);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 50px 10px;
    border: 10px rgb(250, 0, 0);
    text-align: center;
}


#blur{
background-color: rgba(29, 19, 41, 0.774);
padding: 3.7%;
text-align: center;

}