
<div class="text-light" id="navbardiv">

    <button type="button" class="pad btn btn-light">Search</button>
    <p></p><br>
    <button type="button" class="pad btn btn-light">Settings</button>
    <p></p><br>
    <button type="button" class="pad btn btn-light">Log Out</button>
       
   
    
    </div>    

    <div class="text-light" id="navbardivtop">
<div id="logo"></div>
        
<div id="userplaceholder">
Hello User
</div>   

<div id="navsearch">

    <form class="form-inline-block">
     
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
       
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>

    </div>
    </div>   

<!--Wall area-->

<div id="wall">
    
<div id="wallprofilesection">

    <div id="profilebanner">

        <div id="userpic">

        </div>

    </div>

</div>

<div id="wallpostsection">
    <form>
        <div id="postwords" class="form-group">
        
            <label for="exampleFormControlTextarea1">Lets post something...(words)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" ></textarea>
         
        </div>

        <div id="postimage" class="form-group">
        
    
                <input type="file" class="custom-file-input" width="200px" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
   
      
        </div>
    </form>
</div>

