
<div class="text-light" id="navbardiv">

    
    <p></p><br>
   
    <div class="button_container">
       
        <button (click)="ShowHideButton3()" class="btn"><span>Settings</span></button>
     
    </div>
    <p></p><br>
    <div class="button_container">
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <button (click)="onExitButtonClick()" class="btn"><span>Log Out</span></button>
     
    </div>
   
    
    </div>    

    <div class="text-light" id="navbardivtop">
<div id="logo"></div>
        
<div id="userplaceholder">
Hello {{name}} <br/><span style="font-weight: bolder; color: crimson;">Member # {{myId}}</span>
</div>   

<div id="navsearch">

    <form class="form-inline-block" #serv=ngForm (ngSubmit)="submissionUser(serv)">
     
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"></span>
       
        
          <input type="text" id=username class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          <input type="submit" style="padding-bottom: 10px; padding-top: 10px;" class="btn" value="Submit">

        </div>
    </form>

    </div>
    </div>   



<div id="wall">

<div id="wallprofilesection">
   
    <div id="profilebanner">
       
        <div id="userpic">

        </div>

    </div>

</div>

<div id="wallpostsection">
<div *ngIf="!showMainContent3"  id="postwords" style="height: auto; background-color: darkblue;background-attachment: fixed;
background-image:url('https://wallpaperstock.net/wallpapers/thumbs1/43576hd.jpg');
background-size: auto 1000px;
background-position: 48% 36%;
border-radius: 20px;"> <app-settings></app-settings></div>
        <div id="postwords" class="form-group">

                <input type="submit" style="padding-bottom: 10px; padding-top: 10px; display: inline-block; width: 100%;
                 padding-bottom: 10px;" (click)="ShowHideButton()" 
                class="btn" value="Post">
                <br><p></p>
                
                <input type="submit" style="padding-bottom: 10px; padding-top: 10px; display: inline-block; width: 100%;
                padding-bottom: 10px;" 
                class="btn" value="Photo" (click)="ShowHideButton1()">
                <br><p></p>
                
                <input type="submit" style="padding-bottom: 10px; padding-top: 10px; display: inline-block; width: 100%;
                padding-bottom: 10px;" 
                class="btn" value="Video" (click)="ShowHideButton2()">
    
            </div>


    <form #serv=ngForm (ngSubmit)="submission(serv); ShowHideButton(); ">
        
        
        <div *ngIf="!showMainContent" id="postwords" class="form-group">
        
            <label for="exampleFormControlTextarea1">Lets post something...(words)</label>
            
            <textarea name="content" class="form-control" id="content" ngModel></textarea>
<br>
            <input type="submit" style="padding-bottom: 10px; padding-top: 10px;" class="btn" value="Submit">
        
        </div>
   <!-- </form>
    
    <form #serv=ngForm (ngSubmit)="vidSubmission(serv); ShowHideButton(); "> 
        -->    
        <div *ngIf="!showMainContent1" id="postimage" class="form-group">
        
    
            <input type="file" class="custom-file-input" width="200px" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>

  
    </div>

    <div *ngIf="!showMainContent2" id="postvids" class="form-group">
        
            <label for="exampleFormControlTextarea1">YouTube Id</label>
            
            <textarea name="videoname" style="height: 40px;" class="form-control" id="videoname" ngModel></textarea>
            <textarea name="videocode" style="height: 40px;" class="form-control" id="videocode" ngModel></textarea>
<br>
            <input type="submit" style="padding-bottom: 10px; padding-top: 10px;" class="btn" value="Submit">
  
    </div>

   
 

   <div id="tickets" (click)='itsWut(obj)'><h1>Hello</h1></div>   

    <div id="vid" >
     
        

        <app-youtubepost></app-youtubepost>




</div>
    </form>   
</div>

